<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <title>Form Input Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="Ketikkan kata kunci" v-model.lazy ="task"/>
        
        <ul >
            <li v-for="item in books">
                <s v-if="item.done">{{ item.task }}</s>
                <b v-else>{{ item.task }}</b></li>
        </ul>
    </div>


   
    <script>
        var vm = new Vue({
            el:'#app',
            data:{ 
                books: [
            
            { task : 'Kalkulus Dasar'},
            { task :'Fisika Dasar'},
            { task :'Aljabar Linier Elementer'},
            { task :'Aljabar Abstrak'},
            { task :'Algoritma Pemrograman'},
        ]
            },

            computed : {
              judul : function() {
                      return this.task
              }
          }
    
         
        
        })
    </script>


</body>
</html>